<!DOCTYPE html>
<!-- <link rel="shortcut icon" href="#"> -->
<html lang="en">
    <head>
        <title>Planification</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
        
  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
      {% endblock stylesheets %}

    </head>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/listglobal">Liste d'ordre</a>
          </li>
          <li class="nav-item">
            <a id = "cedule" class="nav-link" href="/sched">Cédule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload">Charger un fichier excel</a>
          </li>
        </nav>
          <!-- <li class="nav-item">
            <a id = "mesemploye" class="nav-link" href="/mesemployes">Ma liste d'employé</a>
          </li>
           <li class="nav-item">
            <a class="nav-link disabled" href="/mesemployes">Ma liste d'employé</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" href="/logout">Quitter</a>
          </li>
          <li class="nav-item">
            <a id="welcome" class="nav-link" href="/users">Bienvenue : </a>
          </li>
        </ul>
      </nav> -->
    <body>
        <div class="jumbotron text-center">
        
        <h1 >Planification</h1>
        <h4>{{ today }} </h4>
              
        
        <!-- <script src="/static/edittable.js"></script> -->
       
        {% block content %}{% endblock %}
    </body>
</html>