{% extends "base.html" %}

{% block content %}

<title>Planification</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
               
  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>



    
        
    
<form name =  "semainecourante" method = 'POST' onsubmit="return chsem(this)" >
<div class="container-fluid text-center">
    <div class = "row">
        
            <div class =  "col-sm">
                <div class = "row">
                <label for="semaine">Cédule de la SEM</label>
                <input type='hidden' id='listcheck3' name='listcheck3' value= "{{  listcheck }} ">
                <input type="number" id="semaine" name="semaine" min="1" max="52" value= {{sem}} >                
                <input name = "refresh" id="refresh" type="submit" value="GO"  >
                <!-- <input type="submit" size = "2"  name= "changer" value="Changer de semaine">   -->
                </div>            
                <div class = "row"><br>
            <!-- <form id = "choix" method = 'POST'  onsubmit="return modifcheck(this)" > -->
                <div class = "row w-100 my-2 border border-success" >
                <input type='hidden' id='listcheck' name='listcheck' value= "{{  listcheck }} ">                
                <input style= "background-color:lightgreen" type="button" id="SERVICE" name="SERVICE" value="SERVICE" onclick = "allseron('PDTSER', this)"/><br>   
                    <input class = "m-2" type="checkbox" id="MSERMEC" name="PDTSER" value="MSERMEC" />
                    <label for="MSERMEC" class= 'px-auto'>MSERMEC</label>
                    <input class = "m-2" type="checkbox" id="MSEREL" name="PDTSER" value="MSEREL"/>
                    <label for="MSEREL" class= 'px-2'>MSEREL</label>
                    <input class = "m-2" type="checkbox" id="MSERMAI" name="PDTSER" value="MSERMAI"/>
                    <label for="MSERMAI" class= 'px-2'>MSERMAI</label>
                    <input class = "m-2" type="checkbox" id="MSERSYH" name="PDTSER" value="MSERSYH"/>
                    <label for="MSERSYH" class= 'px-2'>MSERSYH</label><br>                
                </div>  
                           
                <div class = "row w-100 my-2 border border-info" >
                <input style= "background-color:lightblue" type= "button" id="REPARATION" name="REPARATION" value="REPARATION" onclick = "allseron('PDTREP', this)"/><br>
                    <input class = "m-2" type="checkbox" id="MREPMEC" name="PDTREP" value="MREPMEC"/> MREPMEC
                    <input class = "m-2" type="checkbox" id="MREPELC" name="PDTREP" value="MREPELC"/> MREPELC
                    <input class = "m-2" type="checkbox" id="MREPMAI" name="PDTREP" value="MREPMAI"/> MREPMAI
                    <input class = "m-2" type="checkbox" id="MREPELT" name="PDTREP" value="MREPELT"/> MREPELT
                </div>
                <br>
                <div class = "row w-100 my-2 border border-warning" >
                <input style= "background-color:lightyellow" type="button" id="INSTALLATION" name="INSTALLATION" value="INSTALLATION" onclick = "allseron('PDTFAC', this)" /><br>
                    <input class = "m-2" type="checkbox" id="MFACLAB" name="PDTFAC" value="MFACLAB"/> MFACLAB
                    <input  class = "m-2" type="checkbox" id="MFACELP" name="PDTFAC" value="MFACELP"/> MFACELP 
                </div>               
                
                </div>            
            </div>        
            <div class = "col-sm">
                <table id="capacite" class="table text-center table-sort" >
                <thead class="thead-light">
                    <tr >
                        <th scope="col" >Poste de travail</th>
                        <th scope="col" >lundi</th>                   
                        <th scope="col">mardi</th>
                        <th scope="col">mercredi</th>
                        <th scope="col">jeudi</th>
                        <th scope="col">vendredi</th>
                        <th scope="col">Total</th> 
                    </tr>
                    <tbody>
                    <!-- {% for ordre in listglobal %} -->
                    <tr >
                        <th> </th>
                        <td></td>            
                        <td></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>                                  
            
                    </tr>
                    <!-- {% endfor %} -->
                    </tbody>
                </table>
                <button type="button" onclick= "location.href='/capacite'"></button>
            </div>
        
    </div>
</div> 
</form>       
     
<div class="table-responsive row container-fluid text-center"> 
    <form method = 'POST' action= "/sched"> 
    <!-- <input type='hidden' id='listcheck3' name='listcheck3' value= "{{ listcheck }} ">        -->
<table id="table" class="table text-center table-sort" >
    <input class="form-control" id="myInput" type="text" placeholder="Mots clé.." >
    
    <thead id = "monheader" class="thead-light">
        <tr class="row justify-content-center">
        
            <p id="showData"></p> 
 

</table>
</form>
</div> 

<div>
<form  method = 'POST'   onsubmit="return setAction(this)" >

<input type='hidden' id='numordre' name='numordre' value= ' numordre'>
<input type='hidden' id='jour' name='jour' value= ' jour'>
<input type='hidden' id='listcheck2' name='listcheck2' value= "{{ listcheck }} ">

<input name = "move" id="move" type="submit" value="pousser">  <!-- <input name = "retour" id="retour" type="submit" value="Retourner dans backlog"> -->

<!-- <button name = "testfet" id="testfet" type="button" onclick= testfetch()>button</button> -->
</form>

</div>
      

<!-- <script id ="scriptsort" src="/static/table-sort.js"></script>   -->

<script id ="scriptsort" src="/static/table-sort.js"></script>
<script type="text/javascript" src="/static/table.js"></script>
<script type="text/javascript"> window.onload = fairetable('{{ js|safe }}','{{ listcheck|safe }}')</script> 
<script type="text/javascript" src="/static/capacite.js"></script>
<script type="text/javascript"> window.onload = gerercap('{{ cappdt|safe }}' ,'{{ semcourante|safe }}')</script> 


<script>
//function testfetch() {
const testfetch = ()=>{

const predata = {'test1':'{{ listcheck|safe }}', 'test2':{'item1':45, 'item2':66}, [document.getElementById("listcheck2").name] : document.getElementById("listcheck2").value}
const data = JSON.stringify(predata)

fetch("/testfetch", {method: 'POST', headers:{'Content-type':'application/json'}, body: data }).then(response => {
  if (response.ok) {
    return response.json();
  }
  throw new Error('Request failed!');
}, networkError => {
  console.log(networkError.message);
}).then(jsonResponse => {
  return console.log(jsonResponse);
});
}
//headers:{'Content-type':'application/json'}

// async function testfetch() {
//     const response = await fetch("/testfetch")
//     if (response.ok) {
//         console.log(response.caca)
//     }    
    
// }
</script>

<!--ceci est le script de ajax-->
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock %}