{% extends "base.html" %}

{% block content %}

<title>modifier ma liste</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
               
  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<html>
   <body>
      <!-- <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      
      <form action = "https://sapschedule.herokuapp.com//stat/afermer" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>  -->

      <!-- <form action = "https://sapschedule.herokuapp.com/stat" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "stat" />
         <input type = "submit"/>
      </form>  -->

      <form action = "https://sapschedule.herokuapp.com/statordre" method = "POST" 
         enctype = "multipart/form-data">
         <h1>Ordre</h1>
         <p>Utiliser IW38, variante BACKLOGORDRE. Il faut que le SAP soit en anglais et il faut enlever les dates du champs période. changer la date de fin de créer le pour la date d'aujopurd'hui. Exporter en excel dans un dossier local.</p>
         <input type = "file" name = "statordre" />
         <input type = "submit"/>
      </form> 
   </body>
</html>

{% endblock %}